@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: Yekan;
    src: url(../font/iranyekanwebregular\(fanum\).ttf);
}

@theme {
    --font-yekan: Yekan;
}

@font-face {
    font-family: MsMadi;
    src: url(../font/MsMadi-Regular.ttf);
}

@theme {
    --font-msmadi: MsMadi;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: contain;
}

.swiper2-img {
    @apply lg:w-[113px] lg:h-[25px] w-[59px] h-[13px];
}