@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: Yekan;
    src: url(../font/iranyekanwebregular\(fanum\).ttf);
}

@theme {
    --font-yekan: Yekan;
}

@font-face {
    font-family: MsMadi;
    src: url(../font/MsMadi-Regular.ttf);
}

@theme {
    --font-msmadi: MsMadi;
}


.swiper1 {
    width: 100%;
    height: 100%;

    .swiper-slide {
        text-align: right;
        display: flex;
        justify-content: right;
        align-items: center;

        .img {
            display: block;
            object-fit: contain;
        }
    }
}

.swiper2 {
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto !important;
        flex-shrink: 0;
        padding-right: 8px;
        img {
            @apply lg:w-[113px] lg:h-[25px] w-[59px] h-[13px];
        }
    }
}


.swiper3 {
    overflow: hidden;
    position: relative;

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 1px solid #E9E9E8;
        @apply lg:w-[321px] lg:h-[410px] w-[255px] h-[320px];
    }
}

@layer components {
    .takhfif-title {
        @apply font-yekan font-bold lg:text-[16px] text-[14px] text-[#28221E] absolute lg:top-[292px] lg:right-[20px] top-[211px] right-[12px];
    }

    .takhfif-category {
        @apply font-yekan lg:text-[14px] text-[12px] text-[#9B9895] absolute lg:top-[327px] lg:right-[20px] top-[240px] right-[12px];
    }

    .takhfif-before {
        @apply font-yekan text-[16px] text-[#28221E] absolute lg:top-[351px] lg:right-[69px] top-[271px] right-[171px];
    }

    .takhfif-after {
        @apply font-yekan font-semibold lg:text-[20px] text-[15px] text-[#9E624C] absolute lg:top-[365px] lg:right-[210px] top-[285px] right-[180px];
    }

    .takhfif-toman {
        @apply font-yekan  lg:text-[14px] text-[11px] text-[#9E624C] absolute lg:top-[369px] lg:right-[170px] top-[288px] right-[147px];
    }

    .takhfif-promotion {
        @apply font-yekan lg:text-[20px] text-[15px] text-white absolute top-[16px] left-[16px] lg:rounded-[31px] rounded-[23.5px] bg-[#28221E] lg:px-[14px] px-[10.5px] lg:py-[3px] py-[2px];
    }


    .porforoosh-title {
        @apply font-yekan font-bold lg:text-[16px] text-[12px] text-[#28221E] absolute lg:top-[292px] lg:right-[20px] top-[127px] right-[10px];
    }

    .porforoosh-category {
        @apply font-yekan text-[14px] text-[#9B9895] lg:absolute hidden lg:top-[327px] lg:right-[20px] top-[240px] right-[12px];
    }

    .porforoosh-before {
        @apply font-yekan text-[16px] text-[#28221E] absolute lg:top-[351px] lg:right-[69px] top-[271px] right-[1171x];
    }

    .porforoosh-after {
        @apply font-yekan font-semibold lg:text-[20px] text-[14px] text-[#9E624C] absolute lg:top-[370px] lg:right-[233px] top-[175px] right-[104px];
    }

    .porforoosh-toman {
        @apply font-yekan  lg:text-[14px] text-[8px] text-[#9E624C] absolute lg:top-[373px] lg:right-[195px] top-[180px] right-[82px];
    }

    .porforoosh-promotion {
        @apply font-yekan lg:text-[20px] text-[15px] text-white lg:absolute hidden top-[16px] left-[16px] lg:rounded-[31px] rounded-[23.5px] bg-[#28221E] lg:px-[14px] px-[10.5px] lg:py-[3px] py-[2px];
    }

}

.takhfifat-category::-webkit-scrollbar {
    display: none;
}

.takhfifat-category {
    -ms-overflow-style: none;
    scrollbar-width: none;
}